/*
Переопределяем стили по умолчанию
*/

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

body {
  background-color: #3b181e;
  color: #fff;
  background-image: url(../image/back-flowers.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  flex: auto;
  font-family: 'Forum', cursive;
}

h1,h2,h3 {
  text-transform: uppercase;
  font-weight: 400;
}

.container {
  margin: 0 auto;
  padding: 0 5%;
}

.header__body {
  width: 100%;
  height: 220px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.header__body a {
  display: flex;
}

.header__logo {
  width: 140px;
  height: 50px;
}

.header__popup {
  width: 100%;
  min-height: 100%;
  background-color: #3b181e;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
}

.header__popup_content {
  display: flex;
  flex-flow: column nowrap;
}

.header__popup_content .header__body {
  justify-content: center;
}

.header__menu {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  position: relative;
}

.header__list {
  width: 450px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.header__link:hover {
  font-size: 45px;
  line-height: 50px;
  color: #fff;
  transition: 0.5s ease;
}

.header__list li {
  padding-top: 70px;
  list-style: none;
}

.intro {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: relative;
  flex-direction: column;
  height: 814px;
  justify-content: center;
}

.intro h1 {
  width: 800px;
  height: 264px;
  margin-top: 100px;
  margin-bottom: 80px;
  text-align: center;
  font-size: 120px;
  line-height: 132px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.09em;  
}

.button-watch-1 {
  background: rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  border: 1px solid white;
}

.button-watch-2 {
  background: white;
  color: black;
  padding: 20px 30px;
  border: 1px solid white;
}

.catalog-button-wrapper {
  z-index: 1;
  font-family: Forum;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0.15em;
  text-align: center;
  text-transform: uppercase;

}

.catalog-button-wrapper .button-watch-2 {
  display: none;

}

.intro .catalog-button-wrapper:hover .button-watch-1 {
  display: none;
}

.intro .catalog-button-wrapper:hover .button-watch-2 {
  display: block;
}

.intro-nav {
  width: 100%;
  height: 240px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-top: -265px;
  padding: 0 5%;
}

.social-popup_show {
  position: fixed;
  bottom: 5%;
  left: 5%;
  z-index: 3;
}

.social-media {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  flex-direction: column;
  height: 172px;
  width: 35px;
  padding-right: 10px;
  align-self: center;
}

.social-media a:hover svg rect {
  fill: white;
}

.social-media a:hover svg path {
  stroke: #3B181E;
  fill: #3B181E;
}

.social-media a:hover svg circle {
  stroke: #3B181E;
  fill: #3B181E;
}

.inst,.fb,.wsap,.vk {
  stroke: white;
}



.mouse {
  align-self: flex-end;
  display: inline-block;
  width: 35px;
  padding-bottom: 15px;
  height: 70px;
}
.mouse-2 {
  display: none;
}

.mouse:hover {
  cursor: pointer;
}

.mouse:hover .mouse-1 {
  display: none;
}

.mouse:hover .mouse-2 {
  display: inline-block;
}

.intro-grad {
  position: absolute;
  bottom: 5px;
  height: 75px;
}
.catalog {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  align-items: center;
  margin-top: 170px;
}

.header__burger:hover{
  cursor: pointer;
}

.header__popup_hide {
  display: none;
}

.header__link {
  font-size: 35px;
  line-height: 39px;
  letter-spacing: 0.09em;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF80;
}

.header__link:hover {
  font-family: Forum;
  color: white;
}

.header__close-button {
  position: absolute;
  top: 40px;
  right: 10px;
}

.header__close-button:hover {
  cursor: pointer;
}

.catalog .services {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
}
.services::after {
  content: url(../image/Vector2.svg);
}

.cat-menu {
  position: relative;
  margin-top: 70px;
  height: 470px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-self: center;
}

.cat-menu img {
  padding: 10px;
  width: 350px;
  height: 470px;
}

.cat-menu div .cat-descr {
  padding: 30px;
  top: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cat-menu h1,
div {
  position: relative;
}

.cat-img-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.button-watch {
  background-color: #fff;
  color: black;
  height: 50px;
  width: 200px;
  position: relative;
  padding: 15px 35px;
  font-weight: 100;
  text-decoration: none;
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 20px;
}

.watch-cat:hover {
cursor: pointer;
}

.button-watch-cat {
  position: absolute;
  bottom: 30px;
  left: 30px;
  display: none;
}

.cat-menu div:hover img {
  border: 1px solid rgba(255, 255, 255, 0);
}

.cat-menu div:hover .cat-img-hover {
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: inline-block;
}
.cat-menu div:hover .button-watch-cat {
  display: inline-block;
}

.cat-menu div:hover p:first-child::after {
  display: none;
}

.cat-menu div:hover p:first-child::before {
  display: inline-block;
}

.cat-menu div:hover p:last-child {
  position: absolute;
  bottom: 100px;
}

.cat-menu.slider_catal {
  width: 740px;
  display: none;
}

.stock {
  margin: 160px 0;
  min-height: 410px;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.button-order {
  margin: 15px 0;
  color: #fff;
  height: 45px;
  width: 220px;
  padding: 15px 35px;
  background-color: #010010;
}

.form_text {
  color: #fff;
  width: 250px;
  height: 44px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin-top: 30px;
  padding: 10px;
}

.button_call {
  width: 250px;
  height: 44px;
  color: black;
  margin-top: 30px;
  padding: 10px;
}

.stock p {
  width: 350px;
  height: 50px;
  line-height: 170%;
  text-align: center;
}

.stock .stock-title {
  margin: 40px 0;
  width: 380px;
}

.stock img {
  width: 700px;
  height: 410px;
}

footer {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.foot-menu {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  width: 70%;
  height: 16px;
}

.footer-gran {
  width: 100%;
}

.foot-menu a {
  height: 16px;
  font-size: 12px;
}

.footer-social.social-media {
  margin: 30px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 250px;
  height: 25px;
}

.order_popup {
  border: 1px solid yellow;
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 40;
}

.order_popup_content {
  display: flex;
  flex-flow: row nowrap;
  width: 716px;
  min-height: 444px;
  top: 30%;
  left: 20%;
}

.order_desc {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 380px;
  background-color: #3b181e;
}

.order_desc a {
  align-self: flex-end;
  margin-top: 10px;
  margin-right: 10px;
}

.order_desc p {
  text-align: center;
  width: 230px;
  height: 90px;
}

.order_form {
  display: flex;
  flex-flow: column nowrap;
}

.order_form input:first-child {
  margin-top: 30px;
}

.order_form input:nth-child(2) {
  margin-top: 16px;
}

.order_form input:nth-child(3) {
  margin-top: 27px;
}
